body {
  margin: 0;
  padding: 0;
  background-color: #dfe6e9;
}

body::-webkit-scrollbar {
  width: 1.1rem;
  background-color: #dfe6e9;
  position: absolute;
}

body::-webkit-scrollbar-thumb {
  background: #2ecc71;
  border-radius: 0.5rem;
  border-right: 2px solid #dfe6e9;
}

.home-container {
  background-color: #dfe6e9;
}
