* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pathway Extreme", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

.app-container {
  background-color: #1e1e1e;
}

.home-container {
  background-color: #1e1e1e;
}
